@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800;900&display=swap");

$text-border: 2px solid #005ad5;
$font-primary: "Nunito", sans-serif;
$color-primary: #005ad5;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.art-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../assets/modern-city-static-background.png") no-repeat
    center center/cover;

  @media (min-width: 768px) {
    background: initial;
    height: auto;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #010101;
  mix-blend-mode: multiply;
  opacity: 0.25;
  z-index: 300;
}

.text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  font-family: $font-primary;
  text-align: center;

  @media (min-width: 768px) {
    top: 25%;
    transform: translate(-50%, -25%);
  }

  .main-heading {
    font-weight: 900;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: #ffffff;

    @media (min-width: 768px) {
      font-size: 4.8rem;
    }

    @media (min-width: 1024px) {
      font-size: 7rem;
    }

    @media (min-width: 1440px) {
      font-size: 10rem;
    }
  }

  .main-subheading {
    font-weight: 800;
    font-size: 1.4rem;
    color: #ffffff;

    @media (min-width: 768px) {
      font-size: 1.8rem;
    }

    @media (min-width: 1024px) {
      font-size: 2.4rem;
    }

    @media (min-width: 1440px) {
      font-size: 3.2rem;
    }
  }

  .main-cta {
    font-family: inherit;
    color: $color-primary;
    font-weight: 900;
    font-size: 1.6rem;
    border: $text-border;
    margin-top: 1.5rem;
    width: 15.6rem;
    height: 4.6rem;
    border-radius: 10rem;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    background-color: #ffffff;
    cursor: pointer;

    @media (min-width: 768px) {
      font-size: 1.8rem;
    }

    @media (min-width: 1024px) {
      width: 30.6rem;
      height: 8.6rem;
      font-size: 2.4rem;
      margin-top: 2.5rem;
    }

    @media (min-width: 1440px) {
      width: 35.6rem;
      height: 9.6rem;
      font-size: 3.6rem;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $color-primary;
      border: 2px solid #ffffff;
      color: #ffffff;
    }
  }
}

svg {
  visibility: hidden;
  opacity: 0;

  @media (min-width: 768px) {
    visibility: visible;
    opacity: 1;
  }
}

#cityscape {
  width: 100%;
  height: 100%;
}

#TRAIN {
  width: 500px;
  height: auto;
  position: absolute;
  bottom: 9.2%;
  right: 0;
  z-index: 100;
}

#cloud-large {
  position: absolute;
  width: 370px;
  height: auto;
  top: 70px;
  left: 137px;
  opacity: 0.7;
}

#cloud-medium {
  position: absolute;
  width: 280px;
  height: auto;
  top: 300px;
  right: 74px;
  opacity: 0.5;
}

#cloud-small {
  position: absolute;
  width: 150px;
  height: auto;
  top: 150px;
  left: 961px;
  opacity: 0.8;
}

#car-blue {
  position: absolute;
  width: 150px;
  height: auto;
  bottom: 18%;
  right: 10px;
}

#car-yellow {
  position: absolute;
  width: 150px;
  height: auto;
  bottom: 12%;
  left: 200px;
}

#train-station {
  position: absolute;
  width: 740px;
  height: auto;
  bottom: 9.1%;
  left: -20px;
  z-index: 10;
}
